@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    background: #020102;
}

:root{
    --main-color:#d90429;
    --text-color:#020102;
    --bg-color:#fff;
}

.loginBtn{
    button {
      width: 100%;
      padding: 10px;
      background-color: #e50914;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }
.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.shopping{
    position: relative;
    margin-left: 1470px;
    
}
.shopping img{
    width: 40px;
    /* background-color: wheat;
    border-radius: 50%; */
}
.shopping span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    justify-content: center;
    /* 3shan anzl el rakam ta7t el cart */
    align-items: center;
    /* da 3shan akhli el rakam fe nos el backgroun */
    border-radius: 50%;
    /* 3sham akhali el background color mdwra */
    position: absolute;
    top: 40%;
    right: -10px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    font-size: 30px;
}


.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
    column-gap: 2rem;
}

.navbar a{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;

}

.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--bg-color);
}

.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid  var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;

}

h2{
    color: white;
}
h3{
    background: white;
}
p{
    color: white;
}
a{
    background: transparent;
}

:root{
    --main-color:#d90429;
    --text-color:#020102;
    --bg-color:#fff;
}


section{
    padding: 4rem 0 2rem;

}



.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}


.btn{   /* da bta el parts    */
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}

.btn:hover{
    background: #fd052f;

}

.heading{
    margin-top: 30px;
    text-align: center;
    margin-right: 30px;
}
.heading h1{
    margin-right: 40px;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}

.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}


.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    
}

.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.cars-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;

}

.cars-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--bg-color);
    padding: 8px;
    border-radius: 0.5rem;

}

.cars-container  .box:hover h2{
    background: var(--main-color);
    color: var(--bg-color);
}


.parts-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.parts-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 0.5rem;

}

.parts-container .box img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
    background: white;
}

.parts-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    background: white;
    
}

.parts-container .box span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    background: white;
}

.parts-container .box .bx{
    color: var(--main-color);
    margin: 0.8rem 0;
    background: white;
}

.parts-container .box .btn{
    max-width: 120px;
    
}


.parts-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
   
}

.parts-container .box .details:hover{
    color: var(--main-color);
    text-decoration: underline;
}




.footer{
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;

}

.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}


.social{
    display: flex;
    align-items: center;
}

.social a{
    font-size: 24px;
    color:var(--bg-color);
    margin-right: 1rem;
}


.social a:hover{
    color: var(--main-color);
}


.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    background: black;

}


.footer-box p:hover{
    color: var(--main-color);
}


.footer-box a,
.footer-box p{
    color: #818181;
    margin-bottom: 10px;

}


.footer-box a:hover{
    color: var(--main-color);
}


.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}

.copyright p:hover{
    color: var(--main-color);
}


.card {
    color: white;
    position: fixed;
    top: 0;
    right: -100%;
    width:380px;
    height: 100vh;
    
    padding: 3px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
.card.active {
    right: 0;
}


.card h1{
    color: red;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: red;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}